@page "/"
@using SimplePersonalBlog.Data
@using SimplePersonalBlog.Components.Display
@inject IBlogService BlogService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Fluent Blazor app.

<h2>Recent Blog Posts</h2>

@foreach (var post in blogPosts)
{
    <BlogCard BlogPost="post" />
}

@code {
    private List<BlogPost> blogPosts = new List<BlogPost>();

    protected override async Task OnInitializedAsync()
    {
        blogPosts = await BlogService.GetPostsAsync();
    }
}